* {
	margin: 0px; padding: 0px; -webkit-text-size-adjust: none;
}
html {
	width: 100%; height: 100%;
}
div {
	background: none; margin: 0px; padding: 0px;
}
table {
	background: none; margin: 0px; padding: 0px;
}
body {
	font: 14px/normal "Malgun Gothic", "±¼¸²", "µ¸¿ò", AppleGothic, Sans-serif; margin: 0px; width: 100%; height: 100%; color: rgb(51, 51, 51); letter-spacing: -0.02em; -ms-scrollbar-face-color: rgb(255, 255, 255); -ms-scrollbar-3dlight-color: rgb(255, 255, 255); -ms-scrollbar-shadow-color: rgb(187, 187, 187); -ms-scrollbar-highlight-color: rgb(255, 255, 255); -ms-scrollbar-darkshadow-color: rgb(255, 255, 255); -ms-scrollbar-arrow-color: rgb(187, 187, 187); -ms-scrollbar-track-color: rgb(238, 238, 238); font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
select {
	font-family: "Malgun Gothic", "Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif; font-size: 100%;
}
input {
	font-family: "Malgun Gothic", "Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif; font-size: 100%;
}
textarea {
	font-family: "Malgun Gothic", "Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif; font-size: 100%;
}
