@import url( main.css );
@import url( common.css );
@import url( sub.css );
@import url( listbox.css );
@import url( calendar.css );
@import url( table.css );
@import url( button.css );
@import url( form.css );
@import url( paginate.css );
@import url( popup.css );
@import url( tab.css );
@import url( comment.css );
@import url( table_thum.css );
@import url( font.css );
@import url( etc.css );
* {
	margin: 0px; padding: 0px;
}
body {
	font: 0.75em/120% "NanumGothic", "³ª´®°íµñ", "ng", "Gulim", "tahoma"; margin: 0px; height: 100%; text-align: left; color: rgb(117, 117, 117); text-decoration: none; border-collapse: collapse; position: relative; -ms-overflow-x: hidden; -ms-overflow-y: scroll; -ms-scrollbar-face-color: rgb(238, 238, 238); -ms-scrollbar-3dlight-color: rgb(238, 238, 238); -ms-scrollbar-shadow-color: rgb(180, 180, 180); -ms-scrollbar-highlight-color: rgb(255, 255, 255); -ms-scrollbar-darkshadow-color: rgb(238, 238, 238); -ms-scrollbar-arrow-color: rgb(0, 0, 0); -ms-scrollbar-track-color: rgb(250, 250, 250); font-size-adjust: none; font-stretch: normal;
}
a:link {
	color: rgb(85, 85, 85); text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	color: rgb(85, 159, 37); text-decoration: none;
}
a:hover {
	color: rgb(85, 159, 37); text-decoration: underline;
}
hr {
	display: none;
}
p {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
ul {
	list-style-type: none;
}
form {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
caption {
	display: none;
}
legend {
	display: none;
}
img {
	border: currentColor; border-image: none;
}
img.left {
	float: left;
}
img.right {
	float: right;
}
fieldset {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
select {
	font-family: "Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif; font-size: 100%;
}
input[type=text] {
	padding-left: 5px;
}
input {
	font-family: "Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif; font-size: 100%;
}
textarea {
	font-family: "Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif; font-size: 100%;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
select {
	padding: 3px 0px; font-size: 12px;
}
.alignRight {
	text-align: right;
}
.alignCenter {
	text-align: center;
}
.alignLeft {
	text-align: left;
}
.a_l {
	text-align: left;
}
.hide {
	display: none;
}
.cl {
	height: 0px; overflow: hidden; clear: both;
}
.lecture .row {
	padding-bottom: 28px; clear: both;
}
.lecture .row::after {
	clear: both; display: block; content: "";
}
.lecture .row h3 {
	clear: both;
}
.lecture .row h3 select {
	font-size: 11px; float: right;
}
.lecture .row .lec_list {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(1, 176, 195) rgb(221, 221, 221) rgb(221, 221, 221); margin-top: 7px; border-collapse: collapse;
}
.lecture .row .lec_list tr {
	padding: 0px;
}
.lecture .row .lec_list td {
	padding: 0px;
}
.lecture .row .lec_list th {
	padding: 0px;
}
.lecture .row .lec_list thead th {
	background: url("/Content/images/lecture/bg_lecture_list_header.gif") repeat-x 0px 0px; border: 1px solid rgb(221, 221, 221); border-image: none; height: 39px; text-align: center;
}
.lecture .row .lec_list tbody tr:hover {
	background: rgb(253, 250, 227);
}
.lecture .row .lec_list tbody td {
	border: 1px solid rgb(221, 221, 221); border-image: none; height: 31px; text-align: center;
}
.lecture .row .lec_list tbody td.al {
	text-align: left; padding-left: 10px;
}
.lecture .row .section3_ul {
	padding: 0px; border: currentColor; border-image: none; width: 340px;
}
.lecture .row .section3_ul h2 {
	padding: 0px; height: 27px; clear: both; border-bottom-color: rgb(168, 226, 111); border-bottom-width: 2px; border-bottom-style: solid;
}
.lecture .row .section3_ul h2::after {
	clear: both; display: block; content: "";
}
.lecture .row .section3_ul h2 a {
	float: right;
}
.lecture .row .section3_ul .notice {
	margin: 0px;
}
.lecture .row .section3_ul .notice li {
	background: url("/Content/images/main/main_notice_dot03.gif") no-repeat 2px; margin: 12px 0px 0px; padding-left: 11px; clear: both;
}
.lecture .row .section3_ul .notice li a {
	width: 329px; display: block;
}
.lecture .row .section3_ul .notice li a::after {
	clear: both; display: block; content: "";
}
.lecture .row .section3_ul .notice li img.new {
	margin-left: 5px;
}
.lecture .row .section3_ul .notice li .date {
	float: right;
}
.lecture .row #recentNotice {
	float: left;
}
.lecture .row #qaNotice {
	float: right;
}
.lecture .row .calendar {
	background: url("/Content/images/lecture/bg_calendar.gif") repeat-x 0px 0px; margin: 0px; padding: 18px 35px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 195px; height: 141px; float: left;
}
.lecture .row .calendar p {
	text-align: center; font-weight: bold;
}
.lecture .row .calendar p .current_view {
	margin: 0px 5px;
}
.lecture .row .calendar table {
	background: none; margin: 10px auto 0px; width: 168px;
}
.lecture .row .calendar table td {
	background: none; margin: 0px; border: currentColor; border-image: none; text-align: center;
}
.lecture .row .calendar table td.hol {
	color: rgb(254, 0, 0);
}
.lecture .row .calendar table td.sat {
	color: rgb(0, 52, 254);
}
.lecture .row .calendar button {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.lecture .row .daily_plan {
	background: url("/Content/images/lecture/bg_calendar.gif") repeat-x 0px 0px; padding: 18px 14px; border: 1px solid rgb(221, 221, 221); border-image: none; height: 141px; color: rgb(117, 117, 117); font-size: 12px; margin-left: 265px;
}
.lecture .row .daily_plan a.btn_total_plan {
	text-align: right; display: block;
}
.lecture .tbl_type_title {
	
}
.lecture .tbl_type_title::after {
	clear: both; display: block; content: "";
}
.lecture .tbl_type_title span {
	line-height: 14px; letter-spacing: 0px; font-size: 11px; position: relative;
}
.lecture .tbl_type_title span img {
	position: absolute;
}
.lecture .tbl_type_title span.warn {
	color: rgb(119, 119, 119); padding-left: 18px; float: left;
}
.lecture .tbl_type_title span.warn img {
	left: 0px; top: -1px;
}
.lecture .tbl_type_title span.info {
	color: rgb(250, 0, 0); padding-right: 20px; float: right;
}
.lecture .tbl_type_title span.info img {
	top: -3px; right: 0px;
}
.nanum {
	font-family: "³ª´®°íµñ Bold", NGB, sans-serif;
}
input:focus {
	border-color: rgb(255, 240, 185);
}
select:focus {
	border-color: rgb(255, 240, 185);
}
textarea:focus {
	border-color: rgb(255, 240, 185);
}
div.ly_pop h2.title {
	line-height: 25px;
}
div.ly_pop div.title-linebot {
	height: 5px; background-image: url("/content/images/common/bg_gage2.gif"); background-repeat: repeat-x;
}
input.text1 {
	padding: 0px 3px; width: 95%; line-height: 18px;
}
textarea.textarea1 {
	padding: 3px; width: 95%;
}
.radio-vertical {
	vertical-align: text-bottom;
}
h2.title {
	color: rgb(51, 51, 51); font-size: 14px;
}
.alink {
	color: rgb(35, 126, 196) !important; font-weight: bold !important; text-decoration: underline !important; cursor: pointer !important;
}
.radius4 {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.high-low-bg {
	background-color: rgb(0, 148, 255);
}
.high-low-bg:hover {
	background-color: rgb(0, 128, 128);
}
.ellipsis {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.ellipsis.whitespace {
	white-space: pre-wrap; -ms-text-overflow: ellipsis;
}
#ttbox {
	padding: 5px 10px; border-radius: 10px; text-align: center; color: rgb(64, 23, 23); font-weight: bold; display: none; position: absolute; z-index: 2; background-color: yellow;
}
.pagepopbox {
	display: none;
}
#layerbg {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 1000; opacity: 0.7; background-color: rgb(51, 51, 51);
}
.layerbox {
	margin: 0px auto; padding: 20px; border-radius: 10px; position: fixed; z-index: 1001; background-color: rgb(255, 255, 255);
}
a.btn_blue {
	padding: 5px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; text-decoration: none; background-color: rgb(0, 87, 166);
}
a.btn_red {
	padding: 5px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; text-decoration: none; background-color: rgb(115, 29, 152);
}
a.btn_white {
	padding: 5px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; color: rgb(0, 87, 166); font-size: 12px; font-weight: bold; text-decoration: none; background-color: rgb(255, 255, 255);
}
a.btn_blue_sm {
	padding: 2px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; text-decoration: none; background-color: rgb(0, 87, 166);
}
a.btn_red_sm {
	padding: 2px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; text-decoration: none; background-color: rgb(115, 29, 152);
}
a.btn_white_sm {
	padding: 2px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; color: rgb(0, 87, 166); font-size: 11px; font-weight: bold; text-decoration: none; background-color: rgb(255, 255, 255);
}
.tooltip {
	border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: dotted; display: inline-block; position: relative;
}
.tooltip .tooltiptext {
	padding: 5px 8px 7px; border-radius: 6px; transition:opacity 1s; left: 25%; top: 70%; width: auto; text-align: left; color: rgb(255, 255, 255); font-size: 14px; margin-left: -60px; visibility: hidden; position: absolute; z-index: 9999; -ms-word-wrap: break-word; min-width: 25px; max-width: 500px; opacity: 0; background-color: rgba(0, 0, 0, 0.8);
}
.tooltip .tooltiptext::after {
	border-width: 5px; border-style: solid; border-color: transparent transparent rgba(0, 0, 0, 0.8); left: 25%; bottom: 100%; margin-left: -3px; position: absolute; content: "";
}
.tooltip:hover .tooltiptext {
	visibility: visible; opacity: 1;
}
table.fixedtable {
	white-space: nowrap; table-layout: fixed; -ms-text-overflow: ellipsis;
}
table.fixedtable td {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
