#wrap {
	margin: 0px auto;
}
#gnbBoxslider {
	background: rgb(249, 249, 249);
}
#lnbContent {
	height: 100%;
}
.global_wrap {
	background: url("../images/main/bg_top_002.jpg") repeat-x; position: relative;
}
.global_wrap .g_menu {
	margin: 0px auto; width: 980px; height: 30px; text-align: right; color: white; padding-top: 5px; font-size: 11px; position: relative;
}
.global_wrap .g_menu a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.global_wrap .g_menu a:visited {
	color: rgb(255, 255, 255);
}
.global_wrap .t_menu {
	margin: 0px auto; width: 980px; height: 97px; text-align: center; position: relative;
}
.global_wrap .t_menu .t_logo li {
	overflow: hidden; padding-top: 13px; float: left;
}
.global_wrap .t_menu .t_link {
	padding-top: 28px; float: right;
}
.global_wrap .t_menu .t_link .slicebar {
	background: url("../images/main/main_slidebar_001.jpg") no-repeat center; width: 89px;
}
.global_wrap .t_menu .t_link li {
	overflow: hidden; font-size: 18px; font-weight: bold; float: left;
}
.global_wrap .t_menu .t_link li a {
	color: rgb(63, 63, 63); text-decoration: none;
}
.global_wrap .t_menu .t_link li a:hover {
	color: rgb(0, 87, 166);
}
.global_wrap .t_menu .t_link li a.selected {
	color: rgb(0, 87, 166);
}
.door_wrap {
	margin: 0px auto 0px -490px; left: 50%; width: 980px; height: 250px; padding-top: 0px; position: relative;
}
.door_wrap .door {
	top: 25px; width: 720px; float: left; position: relative;
}
.door_wrap .door .title li {
	letter-spacing: -1px; overflow: hidden; font-size: 20px; font-weight: bold; float: left;
}
.door_wrap .door .more li {
	overflow: hidden; padding-top: 2px; padding-right: 20px; float: right;
}
.door_wrap .door .door_list {
	padding-top: 16px; clear: both;
}
.door_wrap .door .door_list .pic {
	border: 1px solid rgb(217, 217, 218); border-image: none;
}
.door_wrap .door .door_list .pic img {
	vertical-align: bottom;
}
.door_wrap .door .door_list .subject {
	text-align: left; padding-top: 12px; font-size: 15px; font-weight: bold;
}
.door_wrap .door .door_list .subject .sub_icon {
	margin-right: 7px; float: left;
}
.door_wrap .door .door_list .subject .sub_item {
	float: left;
}
.door_wrap .door .door_list .subject .sub_item a:link {
	color: rgb(0, 87, 166); text-decoration: none;
}
.door_wrap .door .door_list .subject .sub_item a:hover {
	color: rgb(0, 87, 166);
}
.door_wrap .door .door_list .subject .sub_item a:active {
	color: rgb(0, 87, 166);
}
.door_wrap .door .door_list .subject .sub_item a:visited {
	color: rgb(0, 87, 166);
}
.door_wrap .door .door_list .subject .sub_title_icon {
	padding-top: 3px;
}
.door_wrap .door .door_list .subject .sub_title_with {
	padding-left: 20px;
}
.door_wrap .door .door_list .subject .sub_title {
	padding-left: 0px;
}
.door_wrap .door .door_list .desc {
	text-align: left; color: rgb(153, 153, 153); padding-top: 25px; font-size: 14px;
}
.door_wrap .door .door_list li {
	width: 220px; overflow: hidden; margin-right: 20px; float: left;
}
.door_wrap .info {
	top: 25px; width: 260px; float: right; position: relative;
}
.door_wrap .info .title li {
	overflow: hidden; font-size: 20px; font-weight: bold; float: left;
}
.door_wrap .info .more li {
	overflow: hidden; padding-top: 2px; float: right;
}
.door_wrap .info .info_list {
	padding-top: 30px;
}
.door_wrap .info .info_list .info_l {
	padding-top: 10px; font-size: 14px; float: left;
}
.door_wrap .info .info_list .info_l a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.door_wrap .info .info_list .info_l a:hover {
	color: rgb(51, 51, 51); font-weight: bold; text-decoration: underline;
}
.door_wrap .info .info_list .info_l a:active {
	color: rgb(51, 51, 51);
}
.door_wrap .info .info_list .info_l a:visited {
	color: rgb(51, 51, 51);
}
.door_wrap .info .info_list .info_r {
	padding-top: 10px; font-size: 13px; float: right;
}
.door_wrap .info .banner {
	height: 180px; padding-top: 43px;
}
.door_wrap .info .banner img {
	vertical-align: bottom;
}
.mg5 {
	margin-top: 5px;
}
.mg10 {
	margin-top: 10px;
}
.mg10_l {
	margin-left: 10px;
}
.mg10_r {
	margin-right: 10px;
}
.mg15 {
	margin-top: 15px;
}
.mg18 {
	margin-top: 18px;
}
.mg20 {
	margin-top: 20px;
}
.mg20_l {
	margin-left: 20px;
}
.mg25 {
	margin-top: 25px;
}
.mg30 {
	margin-top: 30px;
}
.mg30_l {
	margin-left: 30px;
}
.mg45 {
	margin-top: 45px;
}
.mg50 {
	margin-top: 50px;
}
.mg220_l {
	
}
.mg340 {
	margin-top: 360px;
}
.mg300_l {
	margin-left: 300px;
}
.mg360_l {
	margin-left: 360px;
}
.mg490_l {
	margin-left: 490px;
}
.mg600 {
	margin-top: 620px;
}
.footer_wrap {
	background: url("../images/main/bg_footer_001.jpg") repeat-x; width: 100%; position: relative;
}
.footer_wrap .menu {
	height: 20px; padding-top: 6px; font-size: 12px; font-weight: bold;
}
.footer_wrap .menu a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.footer_wrap .menu a:hover {
	color: rgb(102, 102, 102);
}
.footer_wrap .menu a:active {
	color: rgb(102, 102, 102);
}
.footer_wrap .menu a:visited {
	color: rgb(102, 102, 102);
}
.footer_wrap .address {
	height: 20px; padding-top: 10px; font-size: 14px;
}
.footer_wrap .copyright {
	height: 20px; color: rgb(153, 153, 153); padding-top: 2px; font-size: 12px;
}
#quickMenuCon {
	top: 0px; height: 100%; position: fixed; z-index: 4000;
}
.quickMenuWrap {
	height: 100%;
}
.quickMenuWrap table {
	height: 100%; border-spacing: 0;
}
.quickMenuWrap .box_tab {
	height: 90px; padding-left: 1px;
}
.quickMenuWrap .box_blue {
	height: 105px; text-align: left; padding-left: 15px; background-color: rgb(0, 87, 166);
}
.quickMenuWrap .box_btn {
	height: 80px; text-align: left;
}
.quickMenuWrap .box_slice {
	background: url("../images/main/quick_menu_slidebar_001.jpg") no-repeat left; height: 2px;
}
.quickMenuWrap img.icon {
	margin-left: 20px;
}
.sliderCon {
	width: 100%; text-align: center; position: relative;
}
.bx-wrapper {
	margin: 0px auto; padding: 0px; height: 360px; position: relative;
}
.bx-wrapper img {
	max-width: 100%;
}
.bx-wrapper .bx-viewport {
	background: rgb(249, 249, 249); text-align: center; transform: translateZ(0px); -webkit-transform: translatez(0); -moz-transform: translatez(0); -o-transform: translatez(0);
}
.bx-wrapper .bx-loading {
	background: url("../images/main/bx_loader.gif") no-repeat center rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: relative; z-index: 2000; min-height: 50px;
}
.bx-wrapper .bx-pager {
	top: 10px; text-align: center; color: rgb(102, 102, 102); font-family: Arial; font-size: 0.85em; font-weight: bold; margin-left: 910px; position: absolute; z-index: 999999;
}
.bx-wrapper .bx-pager .bx-pager-item {
	display: inline-block;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: rgb(153, 153, 153); margin: 0px 5px; outline: 0px; border-radius: 5px; width: 12px; height: 12px; text-indent: -9999px; display: block; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: rgb(0, 87, 166); width: 12px;
}
.bx-wrapper .bx-prev {
	background: url("../images/main/controls.png") no-repeat 0px -32px; left: 10px; display: none;
}
.bx-wrapper .bx-next {
	background: url("../images/main/controls.png") no-repeat -43px -32px; right: 10px; display: none;
}
.bx-wrapper .bx-prev:hover {
	background-position: 0px 0px;
}
.bx-wrapper .bx-next:hover {
	background-position: -43px 0px;
}
.bx-wrapper .bx-controls-direction a {
	outline: 0px; top: 50%; width: 32px; height: 32px; text-indent: -9999px; margin-top: -16px; position: absolute; z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-controls-auto {
	text-align: center; right: 50%; bottom: 20px; margin-right: -200px; position: absolute; z-index: 999999;
}
.bx-wrapper .bx-controls-auto .bx-start {
	background: url("../image/main/ico_play.png") no-repeat center rgb(255, 255, 255); margin: 0px 3px; outline: 0px; border-radius: 10px; width: 20px; height: 20px; text-indent: -9999px; display: block;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	background: url("../image/main/ico_stop.png") no-repeat center rgb(255, 255, 255); margin: 0px 3px; outline: 0px; border-radius: 10px; width: 20px; height: 20px; text-indent: -9999px; display: block;
}
.bx-wrapper .bx-caption {
	background: rgba(80, 80, 80, 0.75); left: 0px; width: 100%; bottom: 0px; position: absolute;
}
.bx-wrapper .bx-caption span {
	padding: 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 0.85em; display: block;
}
.head-global {
	background: url("../images/main/bg_top_002.jpg"); width: 100%; height: 490px;
}
.head-menu {
	width: 980px; height: 30px; color: white; padding-top: 3px; font-family: "malgun"; font-size: 11px;
}
.head-back {
	background: url("../images/main/bg_top_001.jpg"); width: 100%; height: 362px;
}
.displayNone {
	display: none;
}
.subPdTop5 {
	padding-top: 5px;
}
.subPdTop10 {
	padding-top: 10px;
}
.subPdTop50 {
	padding-top: 50px;
}
.subMgTop100 {
	margin-top: 100px;
}
.subMgTop110 {
	margin-top: 110px;
}
.subMgTop210 {
	margin-top: 210px;
}
.subMgTop380 {
	margin-top: 380px;
}
.subPdBot10 {
	padding-bottom: 10px;
}
.subPdBot40 {
	padding-bottom: 40px;
}
.subpageCon {
	left: 50%; width: 980px; margin-left: -490px; position: relative;
}
.subTitle {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(221, 221, 221); border-image: none; width: 760px; height: 60px; text-align: left; color: rgb(0, 0, 0); padding-top: 30px; font-size: 24px; font-weight: bold; margin-left: 220px;
}
.subTitle2 {
	width: 760px; height: 25px; text-align: left;
}
.subTitle2 img {
	vertical-align: middle;
}
.subsearch {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 760px; height: 78px; margin-top: 20px; background-color: rgb(250, 250, 250);
}
.subsearch .searchInput {
	padding-top: 20px; padding-left: 25px; float: left;
}
.subsearch .searchBtn {
	padding-top: 20px; padding-left: 10px; float: left;
}
.subsearch input {
	border: 1px solid rgb(0, 87, 166); border-image: none; width: 600px; height: 38px; color: rgb(0, 87, 166); padding-left: 15px; font-size: 14px;
}
.subMajorCon {
	width: 760px; margin-top: 30px;
}
.subMajorCon .majorConBox {
	border: 1px solid rgb(0, 87, 166); border-image: none; width: 760px; height: 100px; text-align: left; background-color: rgb(242, 246, 250);
}
.subMajorCon .majorConBox .majorTitle {
	padding: 20px; color: rgb(0, 87, 166); font-size: 16px; font-weight: bold;
}
.subMajorCon .majorConBox .majorSelect {
	background: url("../images/sub/bg_selecter_001.gif"); border: 1px solid rgb(203, 203, 203); border-image: none; width: 200px; height: 30px; color: rgb(153, 153, 153); padding-left: 10px; font-size: 12px; -webkit-appearance: none; -moz-appearance: none;
}
.subMajorCon .majorConBox .select_0 {
	padding-right: 11px; float: left;
}
.subMajorCon .majorConBox .select_1 {
	padding-right: 11px; float: left;
}
.subMajorCon .tab_cons .tab_2 {
	overflow: hidden; padding-top: 40px;
}
.subMajorCon .tab_cons .tab_2 li {
	overflow: hidden; padding-left: 16px; float: left;
}
.subMajorCon .tab_cons .tab_2 li a {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: normal; text-decoration: none;
}
.subMajorCon .tab_cons .tab_2 li a.selected {
	color: rgb(0, 87, 166); font-weight: bold;
}
.subMajorCon2 {
	
}
.subMajorCon2 .majorConBox {
	border: 1px solid rgb(0, 87, 166); border-image: none; width: 758px; height: 70px; background-color: rgb(242, 246, 250);
}
.subMajorCon2 .majorConBox2 {
	border: 1px solid rgb(0, 87, 166); border-image: none; width: 668px; height: 70px; background-color: rgb(242, 246, 250);
}
.subMajorCon2 .tab_2 {
	overflow: hidden;
}
.subMajorCon2 .tab_2 li {
	overflow: hidden; padding-left: 16px; float: left;
}
.subMajorCon2 .tab_2 li a {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: normal; text-decoration: none;
}
.subMajorCon2 .tab_2 li a.selected {
	color: rgb(0, 87, 166); font-weight: bold;
}
.subImgListCon {
	width: 760px; margin-top: 30px;
}
.subImgListCon .listTab {
	height: 45px; border-bottom-color: rgb(75, 68, 65); border-bottom-width: 1px; border-bottom-style: solid;
}
.subImgListCon .listTab .tab_3 {
	overflow: hidden; padding-top: 10px; clear: both;
}
.subImgListCon .listTab .tab_3 li {
	overflow: hidden; float: left;
}
.subImgListCon .listTab .tab_3 li a {
	color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; text-decoration: none;
}
.subImgListCon .listTab .tab_3 li a.selected {
	color: rgb(0, 87, 166);
}
.subImgListCon .listTab .tab_3 li img {
	padding: 6px 10px 0px;
}
.subImgListCon .listItem {
	height: 170px; text-align: left; padding-top: 20px; clear: both; border-bottom-color: rgb(217, 217, 217); border-bottom-width: 1px; border-bottom-style: solid;
}
.subImgListCon .listItem .pic {
	border: 1px solid rgb(217, 217, 218); border-image: none; float: left;
}
.subImgListCon .listItem .pic img {
	vertical-align: bottom;
}
.subImgListCon .listItem .lt_space {
	margin-left: 238px;
}
.subImgListCon .listItem .lt_title {
	font-size: 16px; font-weight: bold; margin-top: 6px;
}
.subImgListCon .listItem .lt_title img {
	vertical-align: middle;
}
.subImgListCon .listItem .lt_title a {
	text-decoration: none;
}
.subImgListCon .listItem .lt_title a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.subImgListCon .listItem .lt_title a:hover {
	color: rgb(51, 51, 51); font-weight: bold; text-decoration: underline;
}
.subImgListCon .listItem .lt_title a:active {
	color: rgb(51, 51, 51);
}
.subImgListCon .listItem .lt_title a:visited {
	color: rgb(51, 51, 51);
}
.subImgListCon .listItem .lt_desc {
	color: rgb(51, 51, 51); font-size: 14px; margin-top: 18px;
}
.subImgListCon .listItem .lt_info {
	color: rgb(153, 153, 153); font-size: 14px; margin-top: 13px;
}
.subImgListCon .listItem .lt_info .blue a {
	text-decoration: none;
}
.subImgListCon .listItem .lt_info .blue a:link {
	color: rgb(0, 87, 166); text-decoration: none;
}
.subImgListCon .listItem .lt_info .blue a:hover {
	color: rgb(0, 87, 166); text-decoration: underline;
}
.subImgListCon .listItem .lt_info .blue a:active {
	color: rgb(0, 87, 166);
}
.subImgListCon .listItem .lt_info .blue a:visited {
	color: rgb(0, 87, 166);
}
.subImgListCon .listItem .lt_info .red a {
	text-decoration: none;
}
.subImgListCon .listItem .lt_info .red a:link {
	color: rgb(219, 14, 14); text-decoration: none;
}
.subImgListCon .listItem .lt_info .red a:hover {
	color: rgb(219, 14, 14); text-decoration: underline;
}
.subImgListCon .listItem .lt_info .red a:active {
	color: rgb(219, 14, 14);
}
.subImgListCon .listItem .lt_info .red a:visited {
	color: rgb(219, 14, 14);
}
.subImgListCon .listItem .lt_tag {
	color: rgb(59, 162, 255); font-size: 12px; margin-top: 10px;
}
.subImgListCon .listItem .lt_tag img {
	vertical-align: middle;
}
.subImgListCon .listItem .lt_tag a {
	text-decoration: none;
}
.subImgListCon .listItem .lt_tag a:link {
	color: rgb(59, 162, 255); text-decoration: none;
}
.subImgListCon .listItem .lt_tag a:hover {
	color: rgb(59, 162, 255); font-weight: bold; text-decoration: underline;
}
.subImgListCon .listItem .lt_tag a:active {
	color: rgb(59, 162, 255);
}
.subImgListCon .listItem .lt_tag a:visited {
	color: rgb(59, 162, 255);
}
.listPager {
	text-align: center;
}
.listPager ul {
	display: inline-block;
}
.listPager .pager {
	overflow: hidden; padding-top: 50px; clear: both;
}
.listPager .pager li {
	overflow: hidden; float: left;
}
.listPager .pager li.numbox {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(217, 217, 217) currentColor rgb(217, 217, 217) rgb(217, 217, 217); border-image: none; width: 29px; height: 24px; padding-top: 4px;
}
.listPager .pager li a {
	height: inherit; color: rgb(153, 153, 153); font-size: 12px; font-weight: normal; text-decoration: none; vertical-align: bottom; display: block;
}
.listPager .pager li a.selected {
	color: rgb(0, 87, 166); font-weight: bold;
}
.subDetailviewCon {
	width: 760px; height: 60px; text-align: left; color: rgb(0, 0, 0); padding-top: 30px; font-size: 24px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.subDetailviewCon img {
	vertical-align: middle;
}
.subDetailviewCon .btn {
	padding-right: 10px; float: right;
}
.subShareCon {
	width: 760px; height: 60px; text-align: center; padding-top: 20px;
}
.subShareCon table {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 610px; height: 58px; float: left; border-spacing: 0px;
}
.subShareCon table .front {
	width: 108px; color: rgb(0, 87, 166); font-size: 18px; font-weight: bold; background-color: rgb(227, 238, 254);
}
.subShareCon table .middle {
	padding-left: 10px;
}
.subShareCon table .middle img {
	padding-left: 10px; vertical-align: middle; float: left;
}
.subShareCon table .end {
	width: 108px; color: rgb(51, 51, 51); font-size: 13px; font-weight: bold; background-color: rgb(246, 248, 251);
}
.subShareCon table .end a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.subShareCon table .end a:link {
	color: rgb(51, 51, 51);
}
.subShareCon table .end a:hover {
	color: rgb(51, 51, 51); text-decoration: underline;
}
.subShareCon table .end a:active {
	color: rgb(51, 51, 51);
}
.subShareCon table .end a:visited {
	color: rgb(51, 51, 51);
}
.subShareCon .btn_boor1 {
	background: url("../images/sub/btn_con_001.gif"); width: 130px; height: 23px; padding-top: 5px; margin-left: 620px;
}
.subShareCon .btn_boor1 a {
	width: inherit; height: inherit; color: rgb(0, 87, 166); font-size: 12px; font-weight: bold; text-decoration: none; display: block;
}
.subShareCon .btn_boor2 {
	background: url("../images/sub/btn_con_002.gif"); width: 130px; height: 25px; padding-top: 3px; margin-top: 2px; margin-left: 620px;
}
.subShareCon .btn_boor2 a {
	width: inherit; height: inherit; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; text-decoration: none; display: block;
}
a.btn_boor2 {
	background: url("../images/sub/btn_con_002.gif"); padding: 3px 15px; width: auto; height: inherit; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; margin-left: 620px; display: inline-block;
}
a.btn_boor2:hover {
	color: yellow;
}
a.btn_boor1:hover {
	color: yellow;
}
a.btn_boor0:hover {
	color: yellow;
}
a.btn_white2 {
	padding: 3px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; width: auto; height: inherit; text-align: center; color: rgb(0, 87, 166); line-height: 40px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; margin-left: 620px; display: inline-block;
}
a.btn_red2 {
	padding: 3px 15px; border: 1px solid rgb(146, 97, 0); border-image: none; width: auto; height: inherit; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; margin-left: 620px; display: inline-block; background-color: rgb(255, 170, 0);
}
a.btn_white1 {
	padding: 3px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; width: auto; height: inherit; text-align: center; color: rgb(0, 87, 166); line-height: 25px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; display: inline-block;
}
a.btn_red1 {
	padding: 3px 15px; border: 1px solid rgb(146, 97, 0); border-image: none; width: auto; height: inherit; text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; display: inline-block; background-color: rgb(255, 170, 0);
}
a.btn_blue1 {
	width: inherit; height: inherit; color: rgb(0, 87, 166); line-height: 25px; font-size: 12px; font-weight: bold; text-decoration: none; display: block;
}
a.btn_white0 {
	padding: 3px 15px; border: 1px solid rgb(0, 87, 166); border-image: none; width: auto; height: inherit; text-align: center; color: rgb(0, 87, 166); line-height: 15px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; display: inline-block;
}
a.btn_red0 {
	padding: 3px 15px; border: 1px solid rgb(146, 97, 0); border-image: none; width: auto; height: inherit; text-align: center; color: rgb(255, 255, 255); line-height: 15px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; display: inline-block; background-color: rgb(255, 170, 0);
}
a.btn_blue0 {
	background: url("../images/sub/btn_con_001.gif"); padding: 3px 15px; width: auto; height: inherit; text-align: center; color: rgb(0, 87, 166); line-height: 15px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: 2px; display: inline-block;
}
.subShareCon .btn_boor3 {
	border: 1px solid rgb(0, 87, 166); border-image: none; width: 128px; height: 37px; padding-top: 20px; margin-left: 620px;
}
.subShareCon .btn_boor3 a {
	color: rgb(0, 87, 166); font-size: 12px; font-weight: bold; text-decoration: none;
}
.subDetailInfoCon {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 725px; height: 160px; text-align: center; padding-left: 35px; font-size: 14px; margin-top: 20px;
}
.subDetailInfoCon .list_left {
	width: 110px; color: rgb(51, 51, 51); font-weight: bold; float: left;
}
.subDetailInfoCon .list_left_stat {
	width: 270px; overflow: hidden; float: left;
}
.subDetailInfoCon .list_right {
	width: 110px; color: rgb(51, 51, 51); font-weight: bold; float: left;
}
.subDetailInfoCon .list_right_stat {
	overflow: hidden; float: left;
}
.subDetailInfoCon li {
	text-align: left; padding-top: 16px;
}
.subDetailInfoCon li a {
	color: rgb(0, 87, 166); text-decoration: none;
}
.subDetailInfoCon li a:link {
	color: rgb(0, 87, 166);
}
.subDetailInfoCon li a:hover {
	color: rgb(0, 87, 166); text-decoration: underline;
}
.subDetailInfoCon li a:active {
	color: rgb(0, 87, 166);
}
.subDetailInfoCon li a:visited {
	color: rgb(0, 87, 166);
}
.subDetailInfoCon li img {
	vertical-align: middle;
}
.subDetailInfoCon .link a {
	text-decoration: none;
}
.subDescCon {
	width: 760px; text-align: left; margin-top: 35px;
}
.subDescCon span {
	color: rgb(51, 51, 51); font-size: 20px; font-weight: bold;
}
.subDescCon .grayBox {
	width: 760px; color: rgb(153, 153, 153); font-size: 14px; margin-top: 10px; background-color: rgb(247, 247, 247);
}
.subDescCon .grayBox .textArea {
	padding: 20px 15px;
}
.subDetailTabCon {
	background: url("../images/sub/bg_tab_001.gif"); width: 760px; height: 42px; text-align: center; margin-top: 30px;
}
.subDetailTabCon .detailTab {
	overflow: hidden; clear: both;
}
.subDetailTabCon .detailTab li {
	width: 146px; overflow: hidden; float: left;
}
.subDetailTabCon .detailTab li a {
	border-width: 1px; border-style: solid; border-color: rgb(212, 212, 212) rgb(212, 212, 212) rgb(0, 87, 166); padding: 10px 0px 3px; height: 25px; text-align: center; color: rgb(182, 182, 182); font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(255, 255, 255);
}
.subDetailTabCon .detailTab li a.selected {
	border-width: 1px; border-style: solid; border-color: rgb(0, 87, 166) rgb(0, 87, 166) rgb(255, 255, 255); border-image: none; color: rgb(0, 87, 166);
}
.commTabCon {
	background: url("../images/sub/bg_tab_001.gif"); height: 42px;
}
.commTabCon .detailTab {
	overflow: hidden; clear: both;
}
.commTabCon .detailTab li {
	width: 146px; overflow: hidden; float: left;
}
.commTabCon .detailTab li a {
	border-width: 1px; border-style: solid; border-color: rgb(212, 212, 212) rgb(212, 212, 212) rgb(0, 87, 166); padding: 10px 0px 3px; height: 25px; text-align: center; color: rgb(182, 182, 182); font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(255, 255, 255);
}
.commTabCon .detailTab li a.selected {
	border-width: 1px; border-style: solid; border-color: rgb(0, 87, 166) rgb(0, 87, 166) rgb(255, 255, 255); border-image: none; color: rgb(0, 87, 166);
}
.writeBox {
	width: 760px; height: 100px; text-align: center; margin-top: 20px; border-top-color: rgb(75, 68, 65); border-bottom-color: rgb(217, 217, 217); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(250, 250, 250);
}
.writeBox .writeArea {
	border: 1px solid rgb(217, 217, 217); border-image: none; width: 590px; height: 60px; text-align: left; margin-top: 20px; margin-left: 20px; float: left; background-color: rgb(255, 255, 255);
}
.writeBox .writeArea textarea {
	border: 0px currentColor; border-image: none; width: 590px; height: 60px; color: rgb(153, 153, 153); font-family: "Malgun Gothic"; float: left; resize: none;
}
.writeBox .writeArea img {
	vertical-align: bottom;
}
.writeBox .writeBtn {
	margin-top: 20px;
}
.replyList {
	width: 760px; margin-top: 30px; border-top-color: rgb(75, 68, 65); border-top-width: 1px; border-top-style: solid;
}
.replyList textarea {
	padding: 5px; width: 560px; height: 60px; resize: none;
}
.replyList .replyListItem {
	width: 760px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.replyList .replyListItem .item_ul {
	padding: 20px; text-align: left; overflow: hidden;
}
.replyList .replyListItem .item_ul li {
	overflow: hidden;
}
.replyList .replyListItem .item_ul li img {
	padding-left: 10px; vertical-align: middle;
}
.replyList .replyListItem .item_ul .owner {
	color: rgb(153, 153, 153); padding-top: 10px; font-size: 14px;
}
.replyList .replyListItem .item_ul .owner img {
	padding-left: 10px; vertical-align: middle;
}
.replyList .replyListItem_owner {
	width: 760px; height: auto; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.replyList .replyListItem_owner .item_ul {
	padding: 25px 20px; text-align: left; overflow: hidden; float: left;
}
.replyList .replyListItem_owner .item_ul input {
	border: 1px solid rgb(203, 203, 203); border-image: none; width: 590px; height: 30px; color: rgb(153, 153, 153); padding-left: 10px;
}
.replyList .replyListItem_owner .item_ul li {
	overflow: hidden;
}
.replyList .replyListItem_owner .item_ul .owner {
	color: rgb(153, 153, 153); padding-top: 10px; font-size: 14px;
}
.replyList .replyListItem_owner .item_btn {
	padding-top: 25px;
}
.replyList .replyListItem_owner .item_btn li {
	text-align: right; overflow: hidden; padding-right: 20px;
}
.replyList .replyListItem_reply {
	background: url("../images/main/linedown.gif") no-repeat 30px 35px rgb(250, 250, 250); width: 760px; height: 100px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.replyList .replyListItem_reply .item_ul {
	padding: 25px 50px; text-align: left; overflow: hidden; position: absolute;
}
.replyList .replyListItem_reply .item_ul li {
	overflow: hidden;
}
.replyList .replyListItem_reply .item_ul li img {
	padding-left: 10px; vertical-align: middle;
}
.replyList .replyListItem_reply .item_ul input {
	border: 1px solid rgb(203, 203, 203); border-image: none; width: 560px; height: 30px; color: rgb(153, 153, 153); padding-left: 10px;
}
.replyList .replyListItem_reply .item_ul .owner {
	color: rgb(153, 153, 153); padding-top: 10px; font-size: 14px;
}
.replyList .replyListItem_reply .item_ul .owner img {
	padding-left: 10px; vertical-align: middle;
}
.replyList .replyListItem_reply .item_btn {
	padding: 25px 687px; position: absolute;
}
.replyList .replyListItem_reply .item_btn li {
	text-align: right; overflow: hidden; padding-right: 20px;
}
.replyList .replyListItem_reply .writeArea {
	border: 1px solid rgb(217, 217, 217); border-image: none; width: 560px; height: 60px; text-align: left; margin-top: 20px; margin-left: 50px; float: left; background-color: rgb(255, 255, 255);
}
.replyList .replyListItem_reply .writeArea textarea {
	border: 0px currentColor; border-image: none; width: 560px; height: 60px; color: rgb(153, 153, 153); font-family: "Malgun Gothic"; float: left; resize: none;
}
.replyList .replyListItem_reply .writeArea img {
	vertical-align: bottom;
}
.replyList .replyListItem_reply .writeBtn {
	padding-top: 20px;
}
.bnt_moreList {
	border: 1px solid rgb(222, 222, 222); border-image: none; width: 760px; height: 35px; text-align: center; color: rgb(153, 153, 153); padding-top: 15px; font-weight: bold; margin-top: 20px; background-color: rgb(250, 250, 250);
}
.bnt_moreList a {
	height: inherit; text-decoration: none; display: block;
}
.bnt_moreList a:hover {
	color: rgb(153, 153, 153); text-decoration: none;
}
.bnt_moreList a:link {
	color: rgb(153, 153, 153); text-decoration: none;
}
.bnt_moreList a:active {
	color: rgb(153, 153, 153); text-decoration: none;
}
.bnt_moreList a:visited {
	color: rgb(153, 153, 153); text-decoration: none;
}
.subRecomCon .recomTitle {
	height: 50px; text-align: left; color: rgb(102, 102, 102); font-size: 20px; font-weight: bold; margin-top: 30px; border-bottom-color: rgb(75, 68, 65); border-bottom-width: 1px; border-bottom-style: solid;
}
.subSelectCon {
	padding: 20px; border: 1px solid rgb(0, 87, 166); border-image: none; width: 720px; height: 30px; text-align: left; margin-top: 30px;
}
.subSelectCon .inputBox {
	float: left;
}
.subSelectCon .inputBox input {
	border: 1px solid rgb(203, 203, 203); border-image: none; width: 400px; height: 26px; color: rgb(153, 153, 153); padding-left: 10px;
}
.subSelectCon .btnBox a {
	padding-left: 10px;
}
.subTitleBox {
	text-align: left;
}
.subTitleBox img {
	vertical-align: middle;
}
.subTbox_fixed_1 {
	width: 365px;
}
.subTbox_fixed_1 img {
	float: right;
}
.subTbox_fixed_2 {
	height: 130px;
}
.subTbox_list {
	border-top-color: rgb(1, 176, 195); border-top-width: 2px; border-top-style: solid;
}
.subTbox_list ul {
	overflow: hidden; font-size: 12px;
}
.subTbox_list li {
	height: 25px;
}
.subTbox_list li img {
	padding-top: 5px; padding-right: 5px;
}
.subTbox_list li a:link {
	color: rgb(85, 85, 85); text-decoration: none;
}
.subTbox_list li a:hover {
	color: rgb(85, 85, 85); font-weight: bold; text-decoration: underline;
}
.subTbox_list li a:active {
	color: rgb(85, 85, 85);
}
.subTbox_list li a:visited {
	color: rgb(85, 85, 85);
}
.subDoorBox {
	width: 758px; height: 100px;
}
.subDoorBox .title {
	color: rgb(0, 87, 166); font-size: 16px; font-weight: bold;
}
.subDoorBox .pos_0 {
	padding-top: 20px; padding-left: 20px; float: left;
}
.subDoorBox .pos_1 {
	padding-top: 50px; padding-left: 20px;
}
.subDoorBox .box_0 {
	width: 100px; height: 30px;
}
.subDoorBox .st_0 {
	padding-right: 11px; float: left;
}
.subDoorBox .st_1 {
	padding-left: 30px; float: left;
}
.subDoorBox ul {
	position: absolute;
}
.subDoorBox li {
	overflow: hidden; float: left;
}
.subDoorBox .input_st_0 {
	border: 1px solid rgb(203, 203, 203); border-image: none; width: 230px; height: 28px; color: rgb(0, 87, 166); padding-left: 15px; font-size: 14px;
}
.subDoorBox .majorSelect {
	background: url("../images/sub/bg_selecter_002.gif"); border: 1px solid rgb(203, 203, 203); border-image: none; color: rgb(153, 153, 153); padding-left: 10px; font-size: 12px; -webkit-appearance: none; -moz-appearance: none;
}
.pager_pos_0 {
	left: 40%; position: relative;
}
.pager_pos_1 {
	left: 50%; margin-left: -220px; position: relative;
}
.CommonPager {
	overflow: hidden; clear: both;
}
.CommonPager li {
	overflow: hidden; float: left;
}
.CommonPager li.numbox {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(217, 217, 217) currentColor rgb(217, 217, 217) rgb(217, 217, 217); border-image: none; width: 29px; height: 24px; padding-top: 4px;
}
.CommonPager li a {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: normal; text-decoration: none;
}
.CommonPager li a.selected {
	color: rgb(0, 87, 166); font-weight: bold;
}
.st_box_pt_1 {
	float: left;
}
.st_box_pt_2 {
	margin-top: 160px; position: absolute;
}
.st_box_pt_3 {
	margin-left: 395px;
}
.st_box_pt_4 {
	margin-top: 160px; margin-left: 395px; position: absolute;
}
.st_box_pt_5 {
	width: 760px; height: 50px; border-bottom-color: rgb(75, 68, 65); border-bottom-width: 1px; border-bottom-style: solid;
}
.st_box_pt_6 {
	padding: 20px; height: 60px; border-bottom-color: rgb(217, 217, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.st_box_pt_7 {
	padding-top: 15px; padding-bottom: 8px;
}
.st_box_pt_8 {
	width: 760px; height: 40px; background-color: rgb(231, 241, 249);
}
.st_box_pt_9 {
	border: 4px solid rgb(228, 228, 228); border-image: none; width: 752px; height: 152px;
}
.st_box_pt_10 {
	margin: 17px; width: 717px; height: 25px; text-align: left; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
.st_box_pt_11 {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.st_box_pt_11 img {
	vertical-align: middle;
}
.st_box_pt_12 table {
	height: 50px; border-top-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-collapse: collapse; border-spacing: 0;
}
.st_box_pt_12 td.head {
	background-color: rgb(250, 250, 250);
}
.st_box_pt_13 {
	width: 60px; height: 10px; background-color: rgb(40, 136, 223);
}
.st_box_pt_14 {
	padding: 20px; width: 720px; margin-top: 15px; background-color: rgb(250, 250, 250);
}
.st_box_pt_15 {
	width: 720px; height: 50px; border-top-color: rgb(0, 87, 166); border-bottom-color: rgb(217, 217, 218); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(237, 243, 248);
}
.st_box_pt_15 span.fl {
	padding-left: 20px; margin-top: 12px; float: left;
}
.st_box_pt_15 span.fr {
	padding-right: 20px; margin-top: 12px; float: right;
}
.st_box_pt_16 {
	width: 720px; height: 50px; border-bottom-color: rgb(217, 217, 218); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.st_box_pt_16 span.fl {
	padding-left: 30px; margin-top: 12px; float: left;
}
.st_box_pt_16 span.fr {
	padding-right: 30px; margin-top: 12px; float: right;
}
.st_box_pt_16 div {
	margin-top: 16px; margin-left: 30px; float: left; max-width: 560px;
}
.st_box_pt_16 div.ao {
	height: 10px; background-color: rgb(40, 136, 223);
}
.st_box_pt_16 div.ax {
	height: 10px; background-color: rgb(251, 244, 223);
}
.st_box_pt_16 div.hint {
	transition:0.5s; margin-top: 20px; margin-left: 23px; opacity: 0;
}
.st_box_pt_16:hover div.hint {
	opacity: 1;
}
.st_box_pt_17 {
	background: url("../images/sub/box_point.png") no-repeat; width: 130px; height: 50px; padding-top: 20px; position: absolute;
}
.st_hei_full {
	background: url("../images/sub/bg_tab_003.gif") repeat-y; height: 100%;
}
.st_link a {
	text-decoration: none;
}
.st_link a.hover {
	text-decoration: underline;
}
.blue_line_box {
	border: 1px solid rgb(0, 87, 166); border-image: none;
}
.fl_l {
	float: left;
}
.fl_r {
	float: right;
}
.btn_boor3 {
	border: 1px solid rgb(0, 87, 166); border-image: none; width: 128px; height: 25px; padding-top: 6px;
}
.btn_boor3 a {
	height: inherit; color: rgb(0, 87, 166); font-size: 12px; font-weight: bold; text-decoration: none; display: block;
}
.btn_boor4 {
	width: 130px; height: 27px; padding-top: 6px; background-color: rgb(0, 87, 166);
}
.btn_boor4 a {
	height: inherit; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; text-decoration: none; display: block;
}
.btn_st_0 {
	margin-top: 10px; margin-bottom: 10px; float: left; position: relative;
}
.selectSt_0 {
	background: url("../images/sub/bg_selecter_003.gif") no-repeat right rgb(255, 255, 255); border: 1px solid rgb(203, 203, 203); border-image: none; width: 630px; height: 26px; color: rgb(102, 102, 102); padding-left: 10px; font-size: 12px; -webkit-appearance: none; -moz-appearance: none;
}
.selectSt_1 {
	background: url("../images/sub/bg_selecter_003.gif") no-repeat right rgb(255, 255, 255); border: 1px solid rgb(203, 203, 203); border-image: none; width: 100px; height: 26px; color: rgb(102, 102, 102); padding-left: 10px; font-size: 12px; -webkit-appearance: none; -moz-appearance: none;
}
.font_20_bold_666 {
	color: rgb(102, 102, 102); font-size: 20px; font-weight: bold;
}
.font_16_blue {
	color: rgb(0, 87, 166); font-size: 16px; font-weight: bold;
}
.font_16_bold_333 {
	color: rgb(51, 51, 51); font-size: 16px; font-weight: bold;
}
.font_14_bold_333 {
	color: rgb(51, 51, 51); font-size: 14px; font-weight: bold;
}
.font_14_blue {
	color: rgb(0, 87, 166); font-size: 14px; font-weight: bold;
}
.font_14_blue_n {
	color: rgb(0, 87, 166); font-size: 14px; font-weight: normal;
}
.font_14_red {
	color: rgb(219, 14, 14); font-weight: bold;
}
.font_14_bd {
	color: rgb(189, 189, 189); font-size: 12px;
}
.font_14_33_dotum_b {
	color: rgb(51, 51, 51); font-family: "dotum"; font-size: 14px; font-weight: bold;
}
.font_13_333 {
	color: rgb(51, 51, 51); font-size: 13px; font-weight: normal;
}
.font_13_75_dotum {
	color: rgb(117, 117, 117); font-family: "dotum"; font-size: 13px;
}
.font_12_a8 {
	color: rgb(168, 168, 168); font-size: 12px;
}
.font_12_blue {
	color: rgb(0, 87, 166); font-size: 12px; font-weight: bold;
}
.font_12_blue2_n {
	color: rgb(40, 136, 224); font-size: 12px; font-weight: normal;
}
.font_red {
	color: rgb(250, 0, 1);
}
.font_12_66_dotum {
	color: rgb(102, 102, 102); font-family: "dotum"; font-size: 12px;
}
.font_12_66_dotum_b {
	color: rgb(102, 102, 102); font-family: "dotum"; font-size: 12px; font-weight: bold;
}
.tab {
	height: 40px; overflow: hidden; clear: both;
}
.tab li {
	overflow: hidden; float: left;
}
.tab li a {
	padding: 10px 0px 3px; text-align: center; color: rgb(176, 176, 176); font-size: 14px; font-weight: bold; text-decoration: none; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; display: block;
}
.tab li a.selected {
	border: currentColor; border-image: none; color: rgb(255, 255, 255); background-color: rgb(0, 87, 166);
}
.tabSize_145_40 {
	width: 145px; height: 40px;
}
.leftMenuCon {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; float: left; position: absolute;
}
.leftMenuCon.nobot {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.leftMenuCon .leftBlueBox {
	width: 180px; height: 60px; text-align: left; color: rgb(255, 255, 255); padding-top: 30px; padding-left: 20px; font-size: 24px; font-weight: bold; background-color: rgb(0, 87, 166);
}
.leftMenuCon .leftBlueBox2 {
	width: 180px; height: 60px; text-align: left; color: rgb(255, 255, 255); padding-top: 30px; padding-left: 20px; font-size: 22px; font-weight: bold; background-color: rgb(0, 87, 166);
}
.leftMenuCon .leftMenu {
	width: 200px; background-color: rgb(255, 255, 255);
}
.leftMenuCon .leftMenu button {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); padding: 12px 22px; transition:0.3s; border-image: none; width: 100%; height: 50px; text-align: left; color: rgb(119, 119, 119); overflow: hidden; font-size: 14px; font-weight: bold; display: block; cursor: pointer; -ms-text-overflow: ellipsis; background-color: rgb(255, 255, 255);
}
.leftMenuCon .leftMenu button:hover {
	color: rgb(119, 119, 119); background-color: rgb(247, 247, 247);
}
.leftMenuCon .leftMenu button.active {
	color: rgb(0, 87, 166); text-decoration: underline; background-color: rgb(247, 247, 247);
}
.leftMenuCon .leftMenu2 {
	width: 198px; padding-bottom: 12px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: block; cursor: pointer; background-color: rgb(245, 247, 249);
}
.leftMenuCon .leftMenu2 button {
	border: currentColor; border-image: none; display: block; background-color: rgb(245, 247, 249);
}
.leftMenuCon .leftMenu2 button.main {
	padding-top: 10px; padding-left: 10px;
}
.leftMenuCon .leftMenu2 button.sub {
	padding-top: 5px; padding-left: 30px;
}
.leftMenuCon .leftMenu2 button:hover {
	text-decoration: underline;
}
.leftMenuCon .leftMenu2 button img {
	padding-right: 6px; vertical-align: middle;
}
