/* UI Object */
.tab{position:relative; width:100%; height:25px;background:url(../images/common/tab_menu.gif) repeat-x 0 100%;font-size:12px}
.tab ul,.tab ul li{margin:0;padding:0}
.tab ul li{list-style:none}
.tab ul li,.tab ul li a{background:url(../images/common/bg_tab_off.gif) no-repeat}
.tab ul li{float:left;margin-right:-1px;line-height:22px;}
.tab ul li a{display:inline-block;padding:2px 16px 1px;_padding:3px 16px 0;background-position: 100% 0;font-weight:bold;color:#666;text-decoration:none !important}
.tab ul li.on,.tab ul li.on a{background-image:url(../images/common/bg_tab_on.gif)}
.tab ul li.on a{color:#484f5a}
.tab_v1 ul li{position:relative}
.tab_v1 ul li a{padding-right:27px}
.tab_v1 ul li button{overflow:hidden;position:absolute;top:3px;right:3px;width:20px;height:20px;margin:0;padding:0;border:0;background:none;cursor:pointer;_cursor:hand}
.tab_v1 ul li button:active{background:url(../images/common/btn_tab_del.gif) no-repeat 5px 5px}
.tab_v1 ul li button:active img{margin-left:-100px}
.tab_v2{padding-left:0; margin-right:15px;}
/* //UI Object */


/* UI Object */
.tab2{position:relative; width:100%; height:25px;background:url(../images/common/tab_menu.gif) repeat-x 0 100%;font-size:11px; letter-spacing:-1px;}
.tab2 ul,.tab2 ul li{margin:0;padding:0}
.tab2 ul li{list-style:none}
.tab2 ul li,.tab2 ul li a{background:url(../images/common/bg_tab_off.gif) no-repeat}
.tab2 ul li{float:left;margin-right:-1px;line-height:22px}
.tab2 ul li a{display:inline-block;padding:2px 8px 1px;_padding:3px 16px 0;background-position: 100% 0;font-weight:bold;color:#666;text-decoration:none !important}
.tab2 ul li.on,.tab2 ul li.on a{background-image:url(../images/common/bg_tab_on.gif)}
.tab2 ul li.on a{color:#259add}
.tab2_v1 ul li{position:relative}
.tab2_v1 ul li a{padding-right:27px}
.tab2_v1 ul li button{overflow:hidden;position:absolute;top:3px;right:3px;width:20px;height:20px;margin:0;padding:0;border:0;background:none;cursor:pointer;_cursor:hand}
.tab2_v1 ul li button:active{background:url(../images/common/btn_tab_del.gif) no-repeat 5px 5px}
.tab2_v1 ul li button:active img{margin-left:-100px}
.tab2_v2{padding-left:0; margin-right:15px;}

/* 텝 컨포넌트 추가*/
.tab_v3 {height: 41px;}
.tab_v3 ul li 
{
    text-align: center;
    background: none;
    color: #484f5a;
}

.tab_v3 ul li.on 
{
    background: #FFF;
}
.tab_v3 ul li a 
{
    padding: 9px 5px;
    width: 115px;
    border: 1px solid #C4C4C4;
    /*border-bottom: none;*/
    height: 21px;
    background: #EEE;
}

.tab_v3 ul li.on a 
{
    background: none;
    border-bottom: none;
    color: #484f5a;
    height: 22px;
}
.tab_v3.short ul li a 
{
    width: 80px;
}
/* //UI Object */


