/* UI Object */
.ratio dt,dd{float:left}
.ratio dt{margin-right:8px;font-weight:bold}
.ratio p{width:59px;height:7px;margin:2px 5px 0 0;background:url(../../content/images/common/bg_gage.gif) 0 0 no-repeat;font-size:0}
.ratio span{display:block;height:5px;border:1px solid #5fab00;background:url(../../content/images/common/bg_gage_on2.gif) 0 0 repeat-x;font-size:0}
/* //UI Object */

/*평점_스타*/
.star_rating{width:67px;height:10px;background:url(../../content/images/common/bg_starpoint_off.gif) 0 0 no-repeat}
.star_rating span{display:block;height:10px;background:url(../../content/images/common/bg_starpoint_on.gif) 0 0 no-repeat}
.star_rating .point{display:none}
@media print {
.star_rating span{display:none}
.star_rating .point{display:block}
}
/*//평점_스타*/

/*말풍선*/
/* Common */
.ly_help{position:absolute;z-index:10;margin-top:6px;border:1px solid #888;background:#fff;text-align:left; padding:5px 12px 6px 0;}
.ly_help .clse{position:absolute;top:3px;right:4px}
.ly_help strong{display:block;margin-bottom:10px;padding:9px 0 0 9px;font-size:11px;color:#2c2c2c;letter-spacing:-1px}
.ly_help p{padding:0px 0 2px 9px;font-size:11px;color:#828282;line-height:16px;letter-spacing:-1px}
.ly_help p em{color:#e71717}
.ly_help .edge_cen{position:absolute;top:0;left:50px;width:9px;height:6px;margin:-6px 0 0 -5px;background:url(../../content/images/common/bg_layer_edge.gif) no-repeat 0 0;font-size:0}
.ly_help .edge_rgt{position:absolute;top:0;right:0;width:9px;height:6px;margin-top:-6px;background:url(../../content/images/common/bg_layer_edge.gif) no-repeat 0 0;font-size:0}
/*//말풍선*/

 
/* 박스 */
.box_type{position:relative;_height:1%}
.outer{border:4px solid #a8e469}
.box_type .inner{border:1px solid #418f30}
.box_type p{padding:10px;font-size:12px}
.box_type .lt{position:absolute;top:-4px;left:-4px;width:7px;height:7px;background:#fff url(img/bg_border_corner.gif) no-repeat 0 0;font-size:0}
.box_type .rt{position:absolute;top:-4px;right:-4px;_right:-5px;width:7px;height:7px;background:#fff url(img/bg_border_corner.gif) no-repeat 100% 0;font-size:0}
.box_type .lb{position:absolute;left:-4px;bottom:-4px;_bottom:-5px;width:7px;height:7px;background:#fff url(img/bg_border_corner.gif) no-repeat 0 100%;font-size:0}
.box_type .rb{position:absolute;right:-4px;_right:-5px;bottom:-4px;_bottom:-5px;width:7px;height:7px;background:#fff url(img/bg_border_corner.gif) no-repeat 100% 100%;font-size:0}
.box_type2{position:relative;_height:1%}
.outer2{border:4px solid #e4e4e4}
.inner2{border:1px solid #fff}
.box_type2 p{padding:10px;font-size:12px}
.box_type2 .lt{position:absolute;top:-4px;left:-4px;width:7px;height:7px;background:#fff url(../../content/images/common/bg_border_corner2.gif) no-repeat 0 0;font-size:0}
.box_type2 .rt{position:absolute;top:-4px;right:-4px;_right:-5px;width:7px;height:7px;background:#fff url(../../content/images/common/bg_border_corner2.gif) no-repeat 100% 0;font-size:0}
.box_type2 .lb{position:absolute;left:-4px;bottom:-4px;_bottom:-5px;width:7px;height:7px;background:#fff url(../../content/images/common/bg_border_corner2.gif) no-repeat 0 100%;font-size:0}
.box_type2 .rb{position:absolute;right:-4px;_right:-5px;bottom:-4px;_bottom:-5px;width:7px;height:7px;background:#fff url(../../content/images/common/bg_border_corner2.gif) no-repeat 100% 100%;font-size:0}
/* //박스 */



