/* UI Object */

/* ë‚˜ëˆ”ê³ ë”• Light */
@font-face {
	font-family: "NGL";
	src: url('../font/NanumGothicLight.eot');
	src: local('?')
	, url('../font/NanumGothicLight.eot?#iefix') format('embedded-opentype')
	/*, url('../font/NanumGothicLight.ttf') format('truetype')*/
	, url('../font/NanumGothicLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* ë‚˜ëˆ”ê³ ë”• */
@font-face {
	font-family: "NG";
	src: url('../font/NanumGothic.eot');
	src: local('?')
	, url('../font/NanumGothic.eot?#iefix') format('embedded-opentype')
	/*, url('../font/NanumGothic.ttf') format('truetype')*/
	, url('../font/NanumGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ë‚˜ëˆ”ê³ ë”• Bold */
@font-face {
	font-family: "NGB";
	src: url('../font/NanumGothicBold.eot');
	src: local('?')
	, url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype')
	/*, url('../font/NanumGothicBold.ttf') format('truetype')*/
	, url('../font/NanumGothicBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ë‚˜ëˆ”ê³ ë”• ExtraBold */
@font-face {
	font-family: "NGEB";
	src: url('../font/NanumGothicExtraBold.eot');
	src: local('?')
	, url('../font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype')
	/*, url('../font/NanumGothicExtraBold.ttf') format('truetype')*/
	, url('../font/NanumGothicExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ë‚˜ëˆ”ëª…ì¡° */
@font-face {
	font-family: "NM";
	src: url('../font/NanumMyeongjo.eot');
	src: local('?')
	, url('../font/NanumMyeongjo.eot?#iefix') format('embedded-opentype')
	, url('../font/NanumMyeongjo.ttf') format('truetype')
	, url('../font/NanumMyeongjo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ë‚˜ëˆ”ëª…ì¡° Bold */
@font-face {
	font-family: "NMB";
	src: url('../font/NanumMyeongjoBold.eot');
	src: local('?')
	, url('../font/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype')
	, url('../font/NanumMyeongjoBold.ttf') format('truetype')
	, url('../font/NanumMyeongjoBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ë‚˜ëˆ”ëª…ì¡° ExtraBold */
@font-face {
	font-family: "NMEB";
	src: url('../font/NanumMyeongjoExtraBold.eot');
	src: local('?')
	, url('../font/NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype')
	, url('../font/NanumMyeongjoExtraBold.ttf') format('truetype')
	, url('../font/NanumMyeongjoExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ë‚˜ëˆ”ê³ ë”•ì½”ë”©-Bold */
@font-face {
	font-family: "NGCB";
	src: url('../font/NanumGothicCodingBold.eot');
	src: local('?')
	, url('../font/NanumGothicCodingBold.eot?#iefix') format('embedded-opentype')
	/*, url('../font/NanumGothicCodingBold.ttf') format('truetype')*/
	, url('../font/NanumGothicCodingBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* //UI Object */

